body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.navbar {
  color: #ff5700;
}
.home {
  font-family: Arial;
  /* padding: 10px; */
  background:black;
}


.trhome {
  font-family: Arial;
  padding: 10px; 
  background:black;
}
.trhome h1{
  text-align: center;
  color: white;
}
/* .fakeimgr {
} */
.trhome h3 {
  color: #007bff;
}
.trhome h5 {
  color:#007bff; 
  text-decoration: underline;
}

.trhome p {
  color: white;
}
.trhome ul {
  color: white;
}
.cardtrl{
  width: 50%;
  /* margin: 0 auto; */
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* float:right; */
  flex-direction: column;
  display: flex;
  /* min-height: 100vh; */
  

  
}

.trainpic {
  width: 100%;
  height: 100%;
  margin-top: 25px;
 
}
.cardtrr{
  width: 50%;
  flex-wrap: wrap;
  float:left;
  flex-direction: column;
  display: flex;
 min-height: 100vh;

  color: black;
  padding-left: 20px;
  /* background-color: #ccc; */

}
  .cardtrr a {
  padding: 20px;
  font-size: 70px;
  width: 20%;
  text-align: center;
   margin: 5px 2px; 
  color: white;
  
 } 
 body {
  min-height: 100vh;
} 
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  height: 50%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  /* background-color: #f1f1f1; */
  padding-left: 20px;
  margin-top: 20px;
  
}

/* Fake image */
.fakeimg {
    /* background-image: url(./images/gym.jpg);  
     background-size: cover; 
    background-repeat: no-repeat; */
    /* width: 35%; 
    height:auto;  */
    
    /* height: 200px; */
  /* background-color: #aaa; */
  /* width: 100%; */
   /* padding: 20px;  */
  float: right;
  
}

h2 {
  color: #007bff;
}
.fakeimgr {
  /* background-image: url(./images/run); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  width: 35%;
  height:auto;
 
/* background-color: #aaa; */
/* width: 100%; */
  /* padding: 20px;   */
  float: left;
  /* margin-right: 10px; */

}

/* Add a card effect for articles */
.cardr {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  float: right;
  /* height: 75% */
}
img {
  width: 50%;
  height: auto;
  max-height: 25%;
  float: right;
}

.l {
  width: 50%;
  height: auto;
  max-height: 20%;
  float: left;
  padding-right: 5px;
}
.r {
  width: 50%;
  height: auto;
  max-height: 400px;
  float: right;
  padding-right: 5px;
}
.cardl {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  padding-left: 20px;
  
}

.cardtr {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  /* height: 75% */
}
.card3 {
  background-color: rgb(182, 181, 181);
  padding: 20px;
  margin-top: 0;
  float: right;
}
.card3 button {
background-color: #007bff;
  /* border: 5px solid blue; */
  color: white
}

.card3 button:hover {
  background-color: black;
  color: white;
}

.card4 {
  background-color: rgb(182, 181, 181);
  padding-left: 20px;
  margin-top: 12px;
  float: left;
  width: 100%;
  font-weight: bold;
}
.card4 p{
  margin: 0%;
}

.card5 {
  background-color: rgb(182, 181, 181);
  padding: 14px;
  margin-top: 12px;
  float: left;
  width: 100%;
  font-weight: bold;
  justify-content: center;
}


.fa {
  padding: 20px;
  font-size: 70px;
  width: 15x;
  text-align: center;
   margin: 5px 2px; 
  color: white;
  justify-content: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
 color: #ccc;
}
.fa-reddit {
  background: #ff5700;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: #007bff;
  margin-top: 20px;
  color: white;
  margin-bottom: 0%;
  position: relative ;
  width: 100%;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
 
}


/* .bio1 {
  color: black;
  float: left;
  width: 50%;
  height: 50%;
  background-color: white;
  border: 1px solid #007bff;

}
.trainer1 h1{
  text-align: center;
}
.trainer1 h5 {
  text-align: center;
} */

.trainer {
  background-image: url(./images/background.jpg);
  /* image-rendering: auto; */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: auto;
  height: 100vh;
  width: auto;
  color: white;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.trainer h1 {
  text-align: center;
  padding-top: 10px;
}

.trainers {
  /* border: 1px solid white; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
  grid-gap: 1rem;
  padding: 1rem;
  margin-left: 23%;
  margin-right: 19%;
  margin-top: 5%;
}

.bio {
  margin-top: 5px;
  /* border: 1px solid blue; */
  text-align: left;
  position: relative;
  width:auto;
  margin: 0 auto;
  padding: 3px;
  
}

.bio img {
  width: 100px;
  height:100px;
  border-radius: 50%;
  justify-content: left;
}

.trainers h3{
  text-align: left;
  text-decoration: underline ;
}

.img {
  width: 10px;
  height: 10px;
}



.from {
  margin-top: 0%;
  font-style: italic;
  padding-top: 0%;
}

.review h4 {
  font-size: smaller;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.reviews {
  background-image: url(./images/background.jpg);
  background-size: cover;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100vh;
  color: white;
  
}

/* .reviews footer {
  margin-top: 5px;
} */

.review {
  padding-bottom: -60px;
  padding-top: -5px;
}

.information {
  
  grid-gap: 1rem;
  padding: 1rem;
  margin-left: 23%;
  margin-right: 19%;
  margin-top: 5%;

}


.reviews h1 {
  text-align: center;
  padding-top: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  margin-left: 20%;
  margin-right: 19%;
  color: white;
}


.contact {
  /* background-image: url(./images/background.jpg); */
  background-size: cover;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100vh;
}

.contact h1 {
  text-align: center;
  padding-top: 20px;
  color: white;
  padding-bottom: 20px; 
}

#contact-form {
  color:rgb(0, 128, 255);
}

#address-info {
  color:rgb(0, 128, 255);
} 

.loginPage  {
  background-image: url(./images/weights.jpg);
  background-color: black;
}

.loginPage h1 {
  color: rgb(0, 128, 255);
  padding-bottom: 50px;
}

#home-card1 {
  /* background-image: url(./images/background.jpg); */
  /* border-color: rgb(139, 5, 5); */
  padding-top: 50px;
  background-color: black;
}

#home-card1 p {
  color:rgb(182, 181, 181);
}

#home-card2 {
  /* background-image: url(./images/background.jpg); */
  /* border-color:rgb(139, 5, 5); */
  padding-top: 50px;
  background-color: black;
}

#home-card2 p {
  color:rgb(182, 181, 181);
}

#home-card3 {
  /* background-image: url(./images/background.jpg); */
  /* border-color:rgb(139, 5, 5); */
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
}

#home-card3 p {
  color:rgb(182, 181, 181);
}

#membership {
  background-image: url(./images/weights.jpg);

}

#member-title {
  color:rgb(0, 128, 255);
  padding-bottom: 50px;
}

#member-card1 {
  padding-bottom: 50px;
  background-color: black;
  color:rgb(182, 181, 181);

}

#member-card2 {
  padding-bottom: 50px;
  color:rgb(182, 181, 181);
  background-color: black;
}

#member-card3 {
  padding-bottom: 50px;
  color:rgb(182, 181, 181);
  background-color: black;
}
